html {
	background: #F4F7FA;
}

body {
	margin: 0;
}

#headerDate {
	background: #1f3d4f;
	color: #FFFFFF;
    padding: 0 10px;
}

#contentContainer {
	background: #F4F7FA;
}

#contentMain {
	width: auto;
	margin: 0 0 0 200px;
	zoom:1;
}

#content {
    border-top: 1px solid #6E7E87;
    margin: 0;
    padding: 0 10px;
}

#contentCommon {
	background: #1f3d4f;
	margin: 0;
	padding: 0 10px;
	border-bottom: 1px solid #CFDBEC;
}

#contentCommon h1 {
	background: url("../../media/iSell_logo_white.png") no-repeat scroll 0 70% transparent;
}

#contentCommon p {
	margin: 0;
	font: 20px/70px Calibri;
}

#navbar {
	float: right;
    height: 70px;
    background: #1F3D4F;
}

#navbarCommon li {
	height: 70px;
	background: #1F3D4F;
	text-align: center;
}

#navbarCommon li.active {
	background: #122c3b;
}

#navbarCommon li:hover {
	background: #122c3b;
}

#navbarCommon li.active a {
	color: #ffffff;
}

#navbarCommon li a {
	font: 20px/70px Calibri;
}

#contentBody {
	background: #F4F7FA;
}

.link-btn {
	border: none !important;
}

.link-btn:hover {
	border: none !important;
}

#actionBar {
	border-bottom: 1px solid #cccccc;
}

.commonBox p a {
	text-decoration: underline;
}

.clickable:hover,
.clickable:active,
.clickable td:hover,
.clickable td:active {
	cursor: pointer !important;
	background: #ddd;
}

#footer {
	background: #1F3D4F;
	height: 60px;
	color: #ffffff;
	padding: 0 10px;
	line-height: 60px;
	text-align: center;
}

#footer a {
	color: #ffffff !important;
	margin: 0 5px;
}

#footer a:hover,
#footer a:active {
	text-decoration: underline;
}

#poweredByIsell {
	margin-top: 25px !important;
}

#reseller-map-container #contentBody {
	min-height: 200px !important;
}