*.swp
.classpath
.project
.settings
/*/target/
/parent/.classpath
/parent/.project
/*/.classpath
/*/.project
/*/.settings/*
/*/target/*
*.jardesc
/*/src/main/extra-resource/develop/private/*
/released-file/*
/*/src/main/extra-web-resource/develop/private/*
/*/src/main/webapp/META-INF/*
/build/*
/*/bin/*
*.pyc
/*/catalina.base_IS_UNDEFINED/*
doc/temp/
/*/data/*
/*/old-data/*
/*/old-uuid/*
/*/output/*