<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- reuse this bean as much as possible -->
<!-- 	<bean id="httpSolrClientFactory" class="au.com.isell.common.solr.factory.HttpSolrClientFactory">
		<constructor-arg value="${solr.conn.url}" />
	</bean> -->

</beans>
