@CHARSET "ISO-8859-1";
body {
	font: 14px/1.25 Arial, Helvetica, sans-serif;
}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,form,th,td
	{
	margin: 0;
	padding: 0;
}

#user-bar {
	background-color: #36719D;
	background-repeat: repeat-x;
	position: relative;
	z-index: 3;
	height: 25px;
	font-size: 15px !important;
	margin: 0 auto 1em;
    padding: 0.2em;
    width: 1130px;
}

#user-bar ul {
	list-style-type: none;
}

#user-bar li a,#user-bar li a:HOVER,#user-bar li a:VISITED {
	display: block;
	color: #fff;
	font-weight: bold;
	padding: 0 0.5em;
	line-height: 25px;
	text-decoration: none;
	font-family : "Arial Black",Gadget,sans-serif;
}
a.menu-selected{
	text-decoration: underline !important;
}

#user-bar .bar-left {
	position: absolute;
	left: 0.2em;
	height: 25px;
	line-height: 25px;
}

.bar-left ul li {
	float: left;
	padding: 0 3px;
}

#user-bar .bar-right {
	position: absolute;
	right: 0.2em;
	height: 25px;
	line-height: 25px;
}

.bar-right ul li {
	float: left;
	padding: 0 5px;
}

#site-content {
	margin: 0.5em auto 1em;;
	width: 1136px;
	padding: 0;
	/* border: 1px solid #A6C9E2; */
}
.main-font-color{
	/* color: #874B46 !important; */
	color:#000 !important;
}
